<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul style="list-style-type:none">
      <li><a href="/">Inicio</a></li>
      <li><a href="/news">Novedades</a></li>
      <li><a href="/discography">Discografía</a></li>
      <li><a href="/tours">Tours</a></li>
      <li><a href="/gallery">Galería</a></li>
      <li><a href="/contact">Contacto</a></li>
      <li><a href="/hostname">Nombre de la pc</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
