body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

header {
  background-image: url('../img/lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px 0;
  position: sticky;
  top: 0;
  height: 120px;
  margin-bottom: 12px;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 5%;
  margin-left: 10px;
}

nav {
  background-color: #122f4f;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li span {
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li span:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

nav ul li span.active {
  background-color: #4c76a5;
}

footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
}

h2 {
  color: #2e64a1;
  font-weight: 400;
}

form {
  width: 100%;
}


.holder {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  height: inherit;

}

.main-pic {
  max-width: 100%;
  max-height: 100%;
}

.welcome {
  padding-right: 10px;
  box-sizing: border-box;
}

.welcome p {
  font-size: 14px;
  margin: 5px;
}

.centered {
  margin: 0 auto;
  display: block;
}

.mainContent {
  width: 95%;
  height: 80vh;
}

.album {
  display: flex;
  margin-bottom: 50px;
}

.album-img {
  width: 25%;
  margin: 0 25px ;
  height: fit-content;
}

.album-data {
  width: 75%;
}

.album-name {
  font-weight: bold;
}

.trasklist {
  font-size: 12px;
}

.article-title {
  font-weight: bold;
  font-size: 14px;
}

.columns {
  width: 100%;;
}

.contact p {
  display: flex;
  align-items: flex-start;
  width: 70%;
}

.contact p .label-column {
  width: 20%;
}

.contact p .input-column {
  margin-bottom: 10px;
  padding: 5px;
  width: 50%;
}

.contact p .textarea-column {
  margin-bottom: 10px;
  padding: 5px;
  min-width: 50%;
}

@media only screen and (max-width: 570px) {
  header {
    height: 142px;
  }
  
  header h1 {
    font-size: 30px;
  }

  nav {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 470px) {
  header {
    height: 142px;
  }
  
  header h1 {
    font-size: 25px;
  }

  nav {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 420px) {
  header {
    height: 142px;
  }
  
  header h1 {
    font-size: 25px;
  }

  nav {
    margin-top: 0;
  }
}